# .gitignore
*.o
*.a

/Makefile
Makefile.in
Makefile.dist
aclocal.m4
confdefs.h
config.*
!config.h.cmake
configure
configure.lineno
confinc
confmf
conftest.*
depcomp
compile
install-sh
missing
stamp-h1*
ar-lib

/autom4te.cache/
**/.deps/
**/.dirstamp
/mtr
/mtr.8
.*.swp
*~
*.snap
/.flatpak-builder/
/debs/
**/.debhelper
/aur/
/package-templates/aur-archlinux/mtr085/
/rpms/
/_build/
/build/
/build-dir/
/build-aux/
/.cache/
compile_commands.json
