# .gitignore
*.o
*.a

/Makefile
Makefile.in
Makefile.dist
aclocal.m4
confdefs.h
config.h
config.h.in
configure
configure.lineno
confinc
confmf
conftest.*
depcomp
compile
install-sh
missing
stamp-h1*
ar-lib
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
man8/

/autom4te.cache/
**/.deps/
**/.dirstamp
/mtr
/mtr.8
.*.swp
*~
*.snap
/.flatpak-builder/
/debs/
**/.debhelper
/aur/
/package-templates/aur-archlinux/mtr085/
.SRCINFO
*.zst
/rpms/
/_build/
/build/
/build-dir/
/build-aux/
/.cache/
compile_commands.json
