# .gitignore
*.o
*.a

/Makefile
Makefile.in
aclocal.m4
confdefs.h
config.*
configure
configure.lineno
confinc
confmf
conftest.*
depcomp
compile
install-sh
missing
stamp-h1*
ar-lib

/autom4te.cache/
**/.deps/
**/.dirstamp
/mtr
/mtr.8
/version.h
/version.h.tmp
.*.swp
*~
*.snap
/.flatpak-builder/
/debs/
**/.debhelper
/build/
/build-dir/
/build-aux/

