Source: mtr085
Section: net
Priority: optional
Maintainer: yvs <VSYakovetsky@gmail.com>
Rules-Requires-Root: no
Build-Depends: libncurses-dev, libcap-dev, debhelper, dpkg-dev, devscripts, meson, git, sed, pkgconf | pkg-config, gettext-base | gettext, libcap2-bin, libbsd-dev
Standards-Version: 4.6.2
Homepage: https://github.com/yvs2014/mtr085

Package: mtr085
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libncursesw6
Breaks: mtr, mtr-tiny
Replaces: mtr, mtr-tiny
Conflicts: mtr, mtr-tiny
Description: Full screen ncurses traceroute tool
 mtr combines the functionality of the 'traceroute' and 'ping' programs
 in a single network diagnostic tool.
 .
 Built from https://github.com/yvs2014/mtr085 fork
